In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
# import tabletext

In [2]:
happiness_2015 = pd.read_csv("data/datasets_894_813759_2015.csv")
happiness_2016 = pd.read_csv("data/datasets_894_813759_2016.csv")
happiness_2017 = pd.read_csv("data/datasets_894_813759_2017.csv")
happiness_2018 = pd.read_csv("data/datasets_894_813759_2018.csv")
happiness_2019 = pd.read_csv("data/datasets_894_813759_2019.csv")
happiness_2020 = pd.read_csv("data/datasets_894_813759_2020.csv")

In [3]:
happiness_2015['Year'] = 2015
happiness_2015 = happiness_2015.rename(columns = {'Happiness Rank':'Happiness_Rank', 'Happiness Score':'Happiness_Score', 'Economy (GDP per Capita)':'Economy(GDP_per_Capita)', 'Health (Life Expectancy)':'Health(Life_Expectancy)', 'Trust (Government Corruption)':'Trust(Government_Corruption)'})
happiness_2015_edited = happiness_2015[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2015_edited.head()

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Switzerland,1,2015,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,2015,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,2015,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,2015,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,2015,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [4]:
happiness_2016['Year'] = 2016
happiness_2016 = happiness_2016.rename(columns = {'Happiness Rank':'Happiness_Rank', 'Happiness Score':'Happiness_Score', 'Economy (GDP per Capita)':'Economy(GDP_per_Capita)', 'Health (Life Expectancy)':'Health(Life_Expectancy)', 'Trust (Government Corruption)':'Trust(Government_Corruption)'})
happiness_2016_edited = happiness_2016[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2016_edited.head()

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Denmark,1,2016,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,2016,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,2016,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,2016,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,2016,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [5]:
happiness_2017['Year'] = 2017
happiness_2017 = happiness_2017.rename(columns = {'Happiness.Rank':'Happiness_Rank', 'Happiness.Score':'Happiness_Score','Economy..GDP.per.Capita.':'Economy(GDP_per_Capita)','Health..Life.Expectancy.':'Health(Life_Expectancy)', 'Trust..Government.Corruption.':'Trust(Government_Corruption)', 'Dystopia.Residual':'Dystopia_Residual'})
happiness_2017_edited = happiness_2017[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2017_edited.head()

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Norway,1,2017,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2,2017,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,3,2017,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,4,2017,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,5,2017,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [6]:
happiness_2018['Year'] = 2018
happiness_2018=happiness_2018.rename(columns={'Overall rank':'Happiness_Rank', 'Country or region':'Country', 'Score':'Happiness_Score', 'GDP per capita':'Economy(GDP_per_Capita)', 'Social support':'Family', 'Healthy life expectancy':'Health(Life_Expectancy)', 'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust(Government_Corruption)'})
happiness_2018_edited = happiness_2018[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2018.head()

,Happiness_Rank,Country,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Generosity,Trust(Government_Corruption),Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [7]:
happiness_2019['Year'] = 2019
happiness_2019=happiness_2019.rename(columns={'Overall rank':'Happiness_Rank', 'Country or region':'Country', 'Score':'Happiness_Score', 'GDP per capita':'Economy(GDP_per_Capita)', 'Social support':'Family', 'Healthy life expectancy':'Health(Life_Expectancy)', 'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust(Government_Corruption)'})
happiness_2019_edited = happiness_2019[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2019_edited.head()

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Finland,1,2019,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,2019,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,2019,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,2019,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,2019,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [8]:
happiness_2020['Year'] = 2020
happiness_2020['Happiness_Rank'] = happiness_2020.index + 1
happiness_2020=happiness_2020.rename(columns={'Country name':'Country', 'Ladder score':'Happiness_Score', 'Logged GDP per capita':'Economy(GDP_per_Capita)', 'Social support':'Family', 'Healthy life expectancy':'Health(Life_Expectancy)', 'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust(Government_Corruption)', 'Ladder score in Dystopia':'Dystopia_Residual'})
happiness_2020_edited = happiness_2020[['Country', 'Happiness_Rank', 'Year', 'Happiness_Score',"Economy(GDP_per_Capita)", 'Family', 'Health(Life_Expectancy)', 'Freedom', 'Trust(Government_Corruption)', 'Generosity']]
happiness_2020_edited.head()

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Finland,1,2020,7.8087,10.639267,0.954330,71.900825,0.949172,0.195445,-0.059482
1,Denmark,2,2020,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202
2,Switzerland,3,2020,7.5599,10.979933,0.942847,74.102448,0.921337,0.303728,0.105911
3,Iceland,4,2020,7.5045,10.772559,0.974670,73.000000,0.948892,0.711710,0.246944
4,Norway,5,2020,7.4880,11.087804,0.952487,73.200783,0.955750,0.263218,0.134533

In [11]:
dataframes = [happiness_2015_edited, happiness_2016_edited, happiness_2017_edited, happiness_2018_edited, happiness_2019_edited, happiness_2020_edited]
merged_happiness = pd.concat(dataframes)
merged_happiness = merged_happiness.reset_index(drop = True)
merged_happiness.to_csv("data/merged_dataset.csv")
merged_happiness

,Country,Happiness_Rank,Year,Happiness_Score,Economy(GDP_per_Capita),Family,Health(Life_Expectancy),Freedom,Trust(Government_Corruption),Generosity
0,Switzerland,1,2015,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780
1,Iceland,2,2015,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300
2,Denmark,3,2015,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390
3,Norway,4,2015,7.5220,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990
4,Canada,5,2015,7.4270,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110
...,...,...,...,...,...,...,...,...,...,...
930,Central African Republic,149,2020,3.4759,6.625160,0.319460,45.200001,0.640881,0.891807,0.082410
931,Rwanda,150,2020,3.3123,7.600104,0.540835,61.098846,0.900589,0.183541,0.055484
932,Zimbabwe,151,2020,3.2992,7.865712,0.763093,55.617260,0.711458,0.810237,-0.072064
933,South Sudan,152,2020,2.8166,7.425360,0.553707,51.000000,0.451314,0.763417,0.016519
934,Afghanistan,153,2020,2.5669,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429